$primary-color: rgba(112, 38, 50, 1);
$secondary-color: rgba(145, 47, 64, 1);
$background-color: rgba(237, 212, 178, 1);
$text-color: rgba(251, 251, 251, 1);

body {
  margin: 0px;
  padding: 0px;
}

.app {
  margin: 0px;
  padding: 0px;

  .router {
    margin: 0px;
    padding: 0px;
  }
}

@font-face {
  font-family: "AirbnbCereal";
  src: local("AirbnbCereal"),
    url(./assets/fonts/cereal-airbnb/AirbnbCereal-Book.ttf) format("opentype");
}

@font-face {
  font-family: "AirbnbCereal-Medium";
  src: local("AirbnbCereal-Medium"),
    url(./assets/fonts/cereal-airbnb/AirbnbCereal-Medium.ttf) format("opentype");
}

@font-face {
  font-family: "AirbnbCereal-Bold";
  src: local("AirbnbCereal-Bold"),
    url(./assets/fonts/cereal-airbnb/AirbnbCereal-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "AirbnbCereal-Light";
  src: local("AirbnbCereal-Light"),
    url(./assets/fonts/cereal-airbnb/AirbnbCereal-Light.ttf) format("opentype");
}
