$primary-color: rgba(112, 38, 50, 1);
$secondary-color: rgba(145, 47, 64, 1);
$background-color: rgba(237, 212, 178, 1);
$text-color: rgba(251, 251, 251, 1);

.container {
  font-family: AirbnbCereal;
  color: $text-color;
  padding-left: 75px;
  margin-bottom: 50px;
}
