$primary-color: rgba(112, 38, 50, 1);
$secondary-color: rgba(145, 47, 64, 1);
$background-color: rgba(237, 212, 178, 1);
$text-color: rgba(251, 251, 251, 1);

.container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;

  .input {
    display: flex;

    .input_left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 50px;
      height: 200px;
    }
  }
}
